<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> HexCards </title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: black;
            color: white;
        }

        #main {
            display: table;
            margin: 0 auto;
        }

        #canvas {
            background-color: rgb(49, 23, 23);
        }
    </style>
</head>

<body>
    <div id='main'>
        <div id='log'></div>
        <canvas id="canvas">mycanvas</canvas>
    </div>
    <script src="~/static/js/core.js"></script>
    <script src="~/static/js/main.js"></script>
</body>


</html>
