
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title> HexCards </title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: black;
            color: white;
        }

        #main {
            /*         margin: 0 auto;
        width: 480px;         */
        }

        #canvas {
            background-color: white;
        }
    </style>
</head>

<body>
    <div id='main'>
        <div id='log'></div>
        <canvas id="canvas">mycanvas</canvas>
    </div>

    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>


</html>  
