@model PhaserMVC.Controllers.AdminView
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Clients Connected @Model.clientsConnected
    </div>
</body>
</html>
