<<<<<<< HEAD
﻿<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hexmage</title>
    <script src="static/js/phaser.min.js"></script>
    <script src="~/static/js/GameObjects.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="shortcut icon" type="image/ico" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id='mainDiv'>
        <!--<div id='log'></div>-->
    </div>
</body>
=======
﻿<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hexmage</title>
    <script src="static/js/phaser.min.js"></script>
    <script src="static/js/main.js"></script>
    <link rel="shortcut icon" type="image/ico" href="static/favicon.ico" />
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div id='mainDiv'>
        <!--<div id='log'></div>-->
    </div>
</body>
>>>>>>> origin/master
</html>